body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

h1 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  /* color: rgb(218, 218, 235); */
}

p {
  margin-top: 0;
  font-size: 1.1rem;
  color: #555;
}